&.about{
    &:before{
        background-image: url('../images/about-background.webp');
        @include tab{
            background-position: right -25rem bottom;
        }
    }
    .my-image{
        height: 66.8rem;
        @include wide-pc{
            height: 668px;
        }
        @include tab{
            margin-bottom: 4rem;
            height: 46.8rem;
        }
    }
    .block-table{
        table{
            width: 100%;
            tr{
                padding: 1.55rem 1rem;
                display: flex;
                border-top: dashed 1px #aeaeae;
                align-items: center;
                @include wide-pc{
                    padding: 16px 10px;
                }
                @include tab{
                    padding: 1.55rem 0.8rem;
                }
                &:last-child{
                    border-bottom: dashed 1px #aeaeae;
                }
                td{
                    @include font-style(1.6rem, $color-white, normal);
                    line-height: 1;
                    display: inline-block;
                    @include wide-pc{
                        font-size: 16px;
                    }
                    @include tab{
                        font-size: 1.2rem;
                        line-height: 2.4rem;
                    }
                    span{
                        @include font-style(1.2rem, $color-white, normal);
                        @include wide-pc {
                            font-size: 12px;
                        }
                        @include tab{
                            font-size: 1.2rem;
                        }
                    }
                    &:nth-child(1){
                        width: 29%;
                        font-size: 1.8rem;
                        line-height: 1;
                        @include wide-pc{
                            font-size: 18px;
                        }
                        @include tab{
                            font-size: 1.4rem;
                            width: 38.5%;
                        }
                    }
                    &:nth-child(2){
                        width: 71%;
                        @include tab{
                            width: 61.5%;
                        }
                    }
                }
            }
        }

    }
} 