.page-wrapper{
    transition: transform 0.5s ease, max-height 0s 0.8s ease; 
    // overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    &:before{
        content: '';
        display: block;
        background-position: 50% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        filter: brightness(50%)
    }

    //-------------------------------
    //  Page-about
    //-------------------------------
    @import '_about.scss';

    //-------------------------------
    //  Page-service
    //-------------------------------
    @import '_service.scss';

    //-------------------------------
    //  Page-notes
    //-------------------------------
    @import '_notes.scss';

    //-------------------------------
    //  Page-gallery
    //-------------------------------
    @import '_gallery.scss';

    //-------------------------------
    //  Page-contact
    //-------------------------------
    @import '_contact.scss';

    //-------------------------------
    //  Page-thanks
    //-------------------------------
    @import '_thanks.scss';
}
.main-visual{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-bottom: 10rem;
    @include wide-pc{
        margin-bottom: 100px;
    }
    @include tab{
        margin-bottom: 2rem;
    }
    &__inner{
        margin: 0 auto;
        height: 100%;
        width: $slide-content-widthsize;
        @include wide-pc{
            width: 80.41%;
        }
        @include sp{
            width: $slide-content-widthsize-sm;
        }
    }
    &__header{
        z-index: 9;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translateX(-1.9%);
        @include sp{
            transform: translateX(-2.9%);
        }
    }
    &__title{
        .title-line{
            display: block;
        }
        .head-title{
            margin-bottom: 5.5rem;
            @include wide-pc{
                margin-bottom: 55px;
            }
            &__main{
                width: 53rem;
                @include wide-pc{
                    width: 530px;
                }
                @include sp{
                    width: 26.5rem;
                }
            }
            &__about{
                width: 42.05rem;
                @include wide-pc{
                    width: 420px;
                }
                @include sp{
                    width: 21rem;
                }
            }
            &__service{
                width: 58rem;
                @include wide-pc{
                    width: 580px;
                }
                @include sp{
                    width: 29rem;
                }
            }
            &__notes{
                @include wide-pc{
                    width: 432px;
                }
                width: 43.2rem;
                @include tab{
                    width: 21.6rem;
                }
            }
            &__gworks{
                width: 45.8rem;
                @include wide-pc{
                    width: 567px;
                }
                @include sp{
                    width: 21rem;
                }
            }
            &__blog{
                width: 32.8rem;
                @include wide-pc{
                    width: 328px;
                }
                @include sp{
                    width: 16.4rem;
                }
            }
            &__contact{
                width: 61.52rem;
                @include wide-pc{
                    width: 615px;
                }
                @include sp{
                    width: 30.8rem;
                }
            }
            &__thanks{
                width: 50.9rem;
                @include wide-pc{
                    width: 510px;
                }
                @include tab{
                    width: 25.5rem;
                }
            }
            &__notFound{
                width: 25.5rem;
                @include wide-pc{
                    width: 255px;
                }
                @include tab{
                    width: 13rem;
                }
            }
            @include sp{
                margin-bottom: 2.7rem;
            }
        }
        .head-text{
            @include font-style(1.8rem, $color-white,400);
            width: 54.4rem;
            line-height: 1.88;
            @include wide-pc{
                font-size: 18px;
                width: 560px;
            }
            @include sp{
                width: 30rem;
                line-height: 1.857;
                font-size: 1.4rem;
                
            }
        }
    }
}
.content{
    color: $color-white;
    h2{
        @include font-style(2.4rem, $color-white, normal);
        display: inline-block;
        border-left: 4px solid $color-white;
        padding-left: 1.6rem;
        margin-bottom: 5.6rem;
        line-height: 3.6rem;
        @include wide-pc{
            font-size: 24px;
            padding-left: 16px;
            margin-bottom: 56px;
            line-height: 1.5;
        }
        @include tab{
            font-size: 2rem;
            border-left: 2px solid $color-white;
            padding-left: 1.2rem;
            margin-bottom: 4rem;
            line-height: 3rem;
        }
        &.flex-item__title{
            display: block;
            margin: 0;
            @include tab{
                margin-bottom: 4rem;
            }
        }
    }
    p{
        @include font-style(1.6rem, $color-white, normal);
        line-height: 2;
        @include wide-pc{
            font-size: 16px;
        }
        @include tab{
            font-size: 1.2rem;
        }
    }
    a{
        text-decoration: underline;
    }
    &__inner{
        width: 1168px;
        margin: 0 auto;
        @include wide-pc{
            width: 1168px;
        }
        @include tab{
            width: 84vw;
        }
        @include pc-tab{
            width: 88vw;
        }
    }
    &__contact{
        padding: 10rem 0;
        text-align: center;
        @include wide-pc{
            padding: 100px;
        }
        @include tab{
            padding: 8rem 0;
        }
        span{
            width: 1px;
            height: 38rem;
            display: block;
            background-color: $color-white;
            margin: 0 auto 5rem auto;
        }
    }
    &__block{
        opacity: 0;
        padding: 10rem 0;
        @include wide-pc{
            padding: 100px 0;
        }
        @include tab{
            padding: 8rem 0;
        }
    }
    &__service{
        .content__block{
            .flex-block{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .flex-block{
        display: flex;
        justify-content: space-between;
        &.align-center{
            align-items: center;
            margin-bottom: 5.6rem;
            @include wide-pc{
                margin-bottom: 56px;
            }
            @include tab{
                margin-bottom: 8rem;
            }
        }
        &.reverse{
            flex-direction: row-reverse;
        }
        @include tab{
            display: block;
        }
        .flex-item{
            &.sns-tag{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
        }
    }
    .external-link{
        @include font-style(1.6rem, $color-white, normal);
        line-height: 1;
        margin-right: 4.4rem;
        text-decoration: underline;
        position: relative;
        @include wide-pc{
            font-size: 16px;
            margin-right: 44px;
        }
        @include tab{
            font-size: 1.2rem;
            display: inline-block;
            width: 14.9rem;
            margin-right: 1.6rem;
            margin-bottom: 1.9rem;
            &:nth-child(2n){
                margin-right: 0;
            }
        }
        &:after{
            content: '';
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            background-image: url('../images/external-link.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 0.6rem;
            @include wide-pc{
                width: 12px;
                height: 12px;
                margin-left: 6px;
            }
            @include tab{
                vertical-align: middle;
            }
        }
    }
}
.link-wrap{
    text-align: center;
}
.link-btn{
    line-height: 1;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 368 60"><path fill="%23fff" d="M 22.55300903320313 2 L 12.36471557617188 10.17288589477539 L 2 19.22367477416992 L 2 58 L 345.2497253417969 58 L 355.4876403808594 49.99462890625 L 365.9812622070313 41.08939361572266 L 365.9990844726563 2 L 22.55300903320313 2 M 21.85000610351563 0 L 368 0 L 367.9808349609375 42.01560211181641 L 356.7509460449219 51.54565048217773 L 345.9388427734375 60 L 0 60 L 0 18.31494903564453 L 11.0804443359375 8.639148712158203 L 21.85000610351563 0 Z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: inline-block;
    transition: background-image 0.3s ease, transform 0.5s ease;
    transform: scale(1.0);

    &.contact{
        @include font-style(4rem, $color-white, normal);
        padding: 1rem 6.4rem;
        font-family: $font-orbit;
        margin: 43.7rem 0 10rem 0;
        text-decoration: none;
        @include wide-pc{
            font-size: 40px;
            padding: 10px 64px;
            margin: 437px 0 100px 0;
        }
        @include tab{
            font-size: 2rem;
            margin: 23.6rem 0 8rem 0;
        }
        &:before{
            content: '';
            position: absolute;
            bottom: 185%;
            left: 50%;
            width: 1px;
            height: 38rem;
            background-color: $color-white;
            animation: scroll-lead 3s cubic-bezier(1, 0, 0, 1) infinite;
            @include wide-pc{
                height: 380px;
            }
            @include tab{
                height: 18rem;
            }
        }
    }
    &.default{
        @include font-style(1.8rem, $color-white, normal);
        padding: 1rem 1.9rem;
        font-family: $font;
        text-decoration: none;
        text-transform: uppercase;
        @include wide-pc{
            font-size: 18px;
            padding: 10px 19px;
        }
    }
    &:hover{
        color: #D40A83;
        transform: scale(1.02);
        transition: background-image 0.3s ease, transform 0.5s ease;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 368 60"><path fill="%23D40A83" d="M 22.55300903320313 2 L 12.36471557617188 10.17288589477539 L 2 19.22367477416992 L 2 58 L 345.2497253417969 58 L 355.4876403808594 49.99462890625 L 365.9812622070313 41.08939361572266 L 365.9990844726563 2 L 22.55300903320313 2 M 21.85000610351563 0 L 368 0 L 367.9808349609375 42.01560211181641 L 356.7509460449219 51.54565048217773 L 345.9388427734375 60 L 0 60 L 0 18.31494903564453 L 11.0804443359375 8.639148712158203 L 21.85000610351563 0 Z"/></svg>');
    }
}
.scroll-container{
    width: 100%;
    position: absolute;
    // overflow: hidden;
    will-change: transform;
    backface-visibility: hidden;
}