@import 'common/_font&color';
@import 'common/_responsive';
@import 'common/destyle';
@import 'common/_animation';


@mixin nth-trans-delay($delay_items: 7, $delay_time: 0.2s){
    @for $i from 1 through $delay_items {
        &:nth-child(#{$i}){
            transition-delay: $delay_time * $i;
        }
    }
}

$slide-content-heightsize-sm: 88.006%;
$slide-content-heightsize: 70.3703%;

$slide-content-widthsize-sm: 78.6666%;
$slide-content-widthsize: 83.3333%;

//-------------------------------
//  Mouse-cursor
//-------------------------------
@import '_cursor.scss';

//-------------------------------
//  All-page-common-css
//-------------------------------
html{
    /*
    計算式：10px /  デザインカンプの横幅 * 100
    画面サイズがデザインカンプ幅の時font-size = 10pxになる
    */
    font-size: calc(10 / 1920 * 100) + vw;
    // @include pc{
    //     font-size: calc(10 / 1200 * 100) + vw;
    // }
    @include tab{
        font-size: calc(10 / 768 * 100) + vw;
    }
    @include sp{
        font-size: calc(10 / 375 * 100) + vw;
    }
}
body{
    font-size: 1.6rem;
    font-family: $font;
    letter-spacing: 0.1em; 
    overflow-x: hidden;
    position: relative;
    cursor: none;
    @include tab{
        cursor: auto;
    }
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
a{
    cursor: none
}
.one-column{
    @include flex-width(1);
    @include tab{
        width: 100%;
    }
}
.two-column{
    @include flex-width(2);
    @include tab{
        width: 100%;
    }
}
.three-column{
    @include flex-width(3);
    @include tab{
        width: 100%;
    }
}
.four-column{
    // width: 42.808%;
    @include flex-width(4);
    @include tab{
        width: 100%;
    }
}
.five-column{
    // width: 42.808%;
    @include flex-width(5);
    @include tab{
        width: 100%;
    }
}
.six-column{
    @include flex-width(6);
    @include tab{
        width: 100%;
    }
}
.seven-column{
    @include flex-width(7);
    @include tab{
        width: 100%;
    }
}
.eight-column{
    // width: 57.106%;
    @include flex-width(8);
    @include tab{
        width: 100%;
    }
}
.nine-column{
    @include flex-width(9);
    @include tab{
        width: 100%;
    }
}
.ten-column{
    // width: 57.106%;
    @include flex-width(10);
    @include tab{
        width: 100%;
    }
}
.eleven-column{
    @include flex-width(11);
    @include tab{
        width: 100%;
    }
}
.twelve-column{
    @include flex-width(12);
    @include tab{
        width: 100%;
    }
}
.only-tab{
    display: none;
    @include tab{
        display: block;
    }
}
.glass-container{
    width: 70%;
    height: 60%;
    position: fixed;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    gap: 20px;
    border-radius: 10px;
    backdrop-filter: blur(7px);
    background-color: rgba(255,255,255, 0.16);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.9) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
}
//-------------------------------
//  Loading-splash
//-------------------------------
@import '_loading.scss';


//-------------------------------
//  Humberger-menu
//-------------------------------
@import '_navbar.scss';


//-------------------------------
//  3Dmenu-CSS
//-------------------------------
@import '_g-menu.scss';

//-------------------------------
//  Scroll-trigger-animation
//-------------------------------
.scroll-on{
    animation: block-appear 1.8s forwards ease;
}

//-------------------------------
//  Lead-Scroll
//-------------------------------
@import '_lead-scroll.scss';

//-------------------------------
//  Front-page
//-------------------------------
@import 'common/_topPage.scss';


//-------------------------------
//  Page
//-------------------------------
@import 'page/_page.scss';


//-------------------------------
//  Single
//-------------------------------
@import 'single/_single.scss';


//-------------------------------
//  404 Not Found
//-------------------------------
@import '_not-found.scss';


//-------------------------------
//  footer
//-------------------------------
@import '_footer.scss';