.web-tips{
    .flex-block{
        padding: 1.6rem 0;
        &:hover{
            .web-tips-thumbnail{
                &:after{
                    opacity: 0.7;
                    transform: scale(1.0);
                    transition: transform 0.3s ease, opacity 0.3s ease;
                }
                img{
                    transform: scale(1.4) rotateZ(15deg);
                    filter: brightness(140%);
                    transition: transform 0.3s ease, filter 0.3s ease;
                }
                .web-tips-thumbnail__overlay{
                    opacity: 1.0;
                    transition: opacity 0.3s ease;
                }
            }
            .web-tips-title{
                &:before{
                    width: 100%;
                    transition: width 0.5s ease;
                }
            }
        }
        .web-tips-thumbnail{
            overflow: hidden;
            position:relative;
            height: 16rem;
            object-fit: cover;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0; 
                background-color: #000;
                opacity: 0;
                transform: scale(0.8);
                transition: transform 0.5s ease, opacity 0.5s ease;
            }
            img{
                transform: scale(1.0) rotateZ(0deg);
                filter: brightness(100%);
                transition: transform 0.3s ease, filter 0.3s ease;
            }
            .web-tips-thumbnail__overlay{
                position: absolute;
                width: 100%;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;
                font-family: $font-orbit;
                @include font-style(1.8rem, $color-white,400);
                transition: opacity 0.3s ease;
                z-index: 10;
            }
            @include tab{
                width: 100%;
                margin-bottom: 2.4rem;
            }
        }
        .web-tips-title{
            margin-bottom: 0rem;
            position: relative;
            &:before{
                content: '';
                display: block;
                width: 0;
                height: 100%;
                background-color:rgba(198, 0, 105, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.5s ease;

            }
        }
    }
    a{
        text-decoration: none
    }
}